.HeroContainer{
  background: #0c0c0c;
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 0 30px;
    height: 800px;
    position:relative;
    z-index:0;
    overflow:hidden;
    
}



.HeroBg{
  position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    
}

.ImgBg{
  position:absolute;
  width: 100%;
  height: 100%;
  -o-object-fit:cover;
  object-fit:cover;
  background-image: url(../public/pexels2.png);
  background-size: cover;
  background-position: center;   
  top:-80px;
  
}

.ImgBg1{
  position:absolute;
  width: 100%;
  height: 100%;
  -o-object-fit:cover;
  object-fit:cover;
  background-image: url(../public/CloudWorldEarth.png);
  background-size: cover;
  background-position: center;   
}

.ImgBg2{
  position:absolute;
  width: 100%;
  height: 100%;
  -o-object-fit:cover;
  object-fit:cover;
  background-image: url(../public/CloudWorldWord.png);
  background-size: cover;
  background-position: center;   
}

.ImgBg1Move{
  position:absolute;
  width: 100%;
  height: 100%;
  -o-object-fit:cover;
  object-fit:cover;
  background-image: url(../public/CloudWorldEarth.png);
  background-size: cover;
  background-position: center;   
  animation: MoveEarth 4s none;
  animation-fill-mode: forwards;
}

.ImgBg2Move{
  position:absolute;
  width: 100%;
  height: 100%;
  -o-object-fit:cover;
  object-fit:cover;
  background-image: url(../public/CloudWorldWord.png);
  background-size: cover;
  background-position: center;   
  animation: scroll 4s none;
  animation-fill-mode: forwards;
  
}

@keyframes scroll{
  0%{
      transform: translate(5px,-65px) rotate(0deg);
      scale: 1;
     
  }
  

  100%{
      transform: translate(85%,-72%) rotate(150deg);
      scale: 0.4;
    
  }
}


@keyframes MoveEarth{
  0%{
      transform: translate(5px,-65px) ;
      scale: 1;
     
  }
  

  100%{
      transform: translate(85%,-70%) ;
      scale: 0.4;
    
  }
}

.TimeSection{
  color: #fff;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  justify-content: center;
  
  z-index: 2;
  
  
}

.timewrapper{
  background-color: rgba(0, 0, 0, .8);
  padding: 2rem;
  border: solid 0px #fff;
  border-radius: 10px;
  z-index:4;

  
}

.timerinner{
  color: #fff;
  display: flex;
  
  padding: 2rem;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 100px;
}

.timersegment{
  display: flex;
  flex-direction: column;
  text-align: center;

}

.divider, 
.time{
  font-size: 1.2rem;
}

.divider{
  padding: 0 1rem ;
}

.label{
  font-size: 0.8rem;
}

.HeroBg h1{
  color: #fff;
}


.nav{
  background:transparent;
    
    height: 60px; 
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    top: 0;
    z-index: 10;
    position:sticky;
    transition: 0.8s all ease;
    
}

.navbarContainer{
  display: flex; 
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1400px;
 
  
}

.navLogo{
  color: #fff;
    justify-self: flex-start;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 24px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.1s all ease-in-out;
   
}

.containerConnect {
  position: absolute;
 
  display: flex;
 
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0px 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.mainButton {
  cursor: pointer;
  display: inline-flex;
  appearance: none;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  font-weight: 600;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 200ms;
  height: 3rem;
  min-width: 3rem;
  font-size: 1.2rem;
  background: #e5e5ea;
  background-image: linear-gradient(to right, 	#000 60%,#0c0c0c 100.52%);
  color: #fff;
  width: 200px;
  height: 60px;
  text-align: center;
  border-radius: 100px;
  border-style: none;
  letter-spacing: 1.5px;
  opacity: 0.95;
  transition: all 0.8s ease-in-out;
}

.mainButton:hover {
  
  width: 470px;
  opacity: 0.9;
  height: 45px;
  
  transition: all 0.8s ease-in-out;
}


.MintContainer{
  position: absolute;
  top:50%;
  left:50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%,-50%);
  align-items: center;
  justify-content: center;
  background-color: none;
  
}

@keyframes MintInfoAnim{
  0%{
      transform: translate(-100px,100px);
      opacity: 0;
  }
  

  100%{
      transform: translate(0px,0px);
      opacity: 1;
  }
}

.MintContainer h1{
  position: relative;
  color: #fff;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 20px;
  animation: MintInfoAnim 3s none;
}

.MintContainer p{
  padding-top: 20px;
  position: relative;
  color: #fff;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 100px;
  animation: MintInfoAnim 4s none;
  letter-spacing: 5px;
  word-spacing: 10px;
}

.MintButtonContainer{
  align-content: bottom;
  max-width: 600px;
  height: 200px;
     margin: 0 auto;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     align-items: center;
     grid-gap: 50px;
     padding: 0px 10px;
     overflow:hidden;
     animation: MintInfoAnim 5s none;
     padding-top: 20px;
     justify-content: center;

}

@media screen and (max-width: 768px) {
  .MintButtonContainer{grid-template-columns: 1fr}
  .MintButtonContainer{height: 380px;}

  
  
}


.buttonStyle {
  appearance: none;
  background-color: #fff;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.buttonStyle:disabled {
  pointer-events: none;
}

.buttonStyle:hover {
  box-shadow: rgba(255, 252, 252, 0.3) 0px 8px 5px;
  transform: translateY(-2px);
}

.buttonStyle:active {
  box-shadow: none;
  transform: translateY(0);
}



.ErrorMessage{
  position: relative;
  top: 0;
  left:50%;
  color: #000;
  width: 100%;
  height: 20px;
  border-radius: 10px;
  transform: translate(-50%,-50%);
  z-index: 10;
}

.ErrorImg{
  height: 220px;
  width: 100%;
  scale: 0.5;
  position: relative;
  background-image: url(../public/errormsg.png) ;
  background-size: cover;
  background-position: center;
}


.ErrorMessage p{
  color: #d03436;
  animation: none;
  font-size: 30px;
  font-weight: 600; 
}
@media screen and (max-width: 768px ) {
  .ErrorMessage p{font-size: 24px; top:-10px;}
}
@media screen and (max-width: 560px ) {
  .ErrorMessage p{font-size: 24px; top:-40px;}
}
@media screen and (max-width: 328px ) {
  .ErrorMessage p{font-size: 18px; top:-60px;}
}





.ImgBgMint{
  position:absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  -o-object-fit:cover;
  object-fit:cover;
  background-image: url(../public/pexels2.png);
  background-size: cover;
  background-position: center; 
  top:-80px;
  
}

.ImgBg1MoveMint{
  position:absolute;
  width: 100%;
  height: 100%;
  -o-object-fit:cover;
  object-fit:cover;
  background-image: url(../public/CloudWorldEarth.png);
  background-size: cover;
  background-position: center;   
  animation: MoveEarthMint 4s none;
  animation-fill-mode: forwards;
}

.ImgBg2MoveMint{
  position:absolute;
  width: 100%;
  height: 100%;
  -o-object-fit:cover;
  object-fit:cover;
  background-image: url(../public/CloudWorldWord.png);
  background-size: cover;
  background-position: center;   
  animation: scrollMint 4s none;
  animation-fill-mode: forwards;
  
}

@keyframes scrollMint{
  0%{
      
      transform: translate(85%,-72%) rotate(150deg);
      scale: 0.4;
     
  }
  

  100%{
    transform: translate(5px,-65px) rotate(0deg);
    scale: 1;
    
  }
}


@keyframes MoveEarthMint{
  0%{
    transform: translate(85%,-70%) ;
    scale: 0.4;
     
  }
  

  100%{
      
      transform: translate(5px,-65px) ;
      scale: 1;
    
  }
}

.successMintMessage{
  position: absolute;
  top:50%;
  left:50.5%;
  transform: translate(-50%,-50%);
  z-index: 10;
  width: 400px;
  height: 80px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100px;
  animation: MintMessage 4.4s none;
  opacity: 0.9;
  color: #fff;
  background-color: rgba(0, 0, 0, .8);
  padding: 2rem;
  border: solid 0px #fff;
  
  z-index:4;
}


@keyframes MintMessage{
  0%{
    opacity: 0%;    
  }
  80%{
    opacity: 0%;
  }
  100%{    
      opacity: 90%;
  }
}

.successMintMessage h1{
  
  
  font-weight: 600;
  color: #fff;
}



.ellipsisWrapper{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

}

@media screen and (max-width: 410px ) {
  .ellipsisWrapper {top:60%;}
}
@media screen and (max-width: 350px ) {
  .ellipsisWrapper {top:65%;}
}


.ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ellipsis div:nth-child(1) {
  left: 8px;
  animation: ellipsis1 0.6s infinite;
}
.ellipsis div:nth-child(2) {
  left: 8px;
  animation: ellipsis2 0.6s infinite;
}
.ellipsis div:nth-child(3) {
  left: 32px;
  animation: ellipsis2 0.6s infinite;
}
.ellipsis div:nth-child(4) {
  left: 56px;
  animation: ellipsis3 0.6s infinite;
}
@keyframes ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
